<!doctype html>
<title>Simple Stock Ticker Plot</title>


<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css"
    rel="stylesheet" type="text/css"
>

<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
	<h1>Simple Stock Ticker Plot</h1>
	<div class=metanav>

<script 
    src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.js"
></script>
{{ script }}

<body>

    <center>
    
    
    {{ div }}

    </center>

</body>

	</div>
</div>



