<!doctype html>
<title>New York City</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
    <body>
	<h1>New York City - Water System</h1>
	<h2>
	<p> This is a map of the complaints about the water system in New York City in 2015.  Although the largest single complaints were about leaks, the largest set of complaints were about hydrants.  Interestingly, the complaints about hydrants runnig full are centred around northern Manhattan and the lower Bronx.</p>
	</h2>
	<img src="{{url_for('static', filename='NYC_WaterSystem.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">
	</body>
</div>
