<!doctype html>
<title>New York City</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
    <body>
	<h1>New York City - Street Noise</h1>
	<h2>
		<p>
	The parameters for your prediction returned "Street Noise" as the most likely complaint.  The plot below shows how these complaints were distributed throughout New York City in 2015.
	</p>
	</h2>
	<img src="{{url_for('static', filename='NYC_Noise_Street_Sidewalk.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">

	<h2>
	<p> What is interesting though, however, is that the complaints, as you might expect, are a function of time of the year.  The plot below shows these complaints as a function of month in 2015.</p>
	</h2>

	<img src="{{url_for('static', filename='NYC_StreetNoise.gif')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">

	<h2>
	<p> Following on from the animated gif, we can also look at the number of complaints about street noise as a function of both temperature and rain.  As expected, the number of complaints increase with higher temperature and decrease with the amount of rainfall.  These trends are shown in the plots below.</p>
	</h2>

	<img src="{{url_for('static', filename='StreetNoiseVsTemp_2015_2.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="320">
	<img src="{{url_for('static', filename='StreetNoiseVsRain_2015_2.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="320">

	</body>
</div>
