<!doctype html>
<title>New York City</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
    <body>
	<h1>New York City - Unsanitary Conditions</h1>
	<h2>
	<p> This is a map of the complaints about unsanitary conditions in New York City in 2015.  As anyone who has been to Manhttan knows, the smell from the garbage left outside is terrible.  However, complaints about this are drarfed by the complaints about pests.  Either there are a huge amount of pests, or people have become sanitaized to the smell of the garbage.</p>
	</h2>
	<img src="{{url_for('static', filename='NYC_UnsanitaryConditions.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">
	</body>
</div>
