<!doctype html>
<title>New York City</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
    <body>
	<h1>New York City - Paint/Plaster</h1>
	<h2>
	<p> This is a map of the complaints about paint and plaster in New York City in 2015.  The dominant category is complaints about the ceiling although the main feature of the plot is that the complaints are tied to the residential districts.</p>
	</h2>
	<img src="{{url_for('static', filename='NYC_PaintPlaster.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">
	</body>
</div>
