<!doctype html>
<title>New York City</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
    <body>
	<h1>New York City - Rodents!</h1>
	<h2>
	<p> New York City is famous for its rats.  From stories of mutated rats in the subway to people seeing rats going through the trash left out by restaurants, every visitor has a story to tell about New York's rodents.  This map below plots the distribution of 311 calls about rodents in 2015.</p>
	</h2>
	<img src="{{url_for('static', filename='NYC_Rodents.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">
	</body>
</div>
