<!doctype html>
<title>New York City</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
    <body>
	<h1>New York City - Plumbing</h1>
	<h2>
	<p> This is a map of the complaints about plumbing in New York City in 2015.  Although it is one of the top 10 categories, there weren't a large amount of complaints about plumbing.</p>
	</h2>
	<img src="{{url_for('static', filename='NYC_Plumbing.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">
	</body>
</div>
