<!doctype html>
<title>New York City</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
    <body>
	<h1>New York City - Street Conditions</h1>
	<h2>
	<p>
	The parameters for your prediction returned "Street Conditions" as the most likely complaint.  The plot below shows how these complaints were distributed throughout New York City in 2015.
	</p>
	</h2>
	<img src="{{url_for('static', filename='NYC_StreetConditions.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">

	<h2>
	<p> As we might expect, the potholes appear at different times of the year.  Typically, the roads are so badly made that when the temperature starts to warm up and the road surface expands, then the potholes appear.   The plot below shows these complaints as a function of month in 2015, where the most prevalent month is March.</p>
	</h2>

	<img src="{{url_for('static', filename='NYC_Potholes_month.gif')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">

	<h2>
	<p> Following on from the animated gif, we can also look at the number of complaints about street conditions as a function of temperature.  When it is too cold, people are not complaining, but when things start to warm up and roads expand, the potholes come in and this bring the complaints.  This is shown in the plot below.</p>
	</h2>

	<img src="{{url_for('static', filename='StreetConditionVsTemp_2015_2.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="320">
	</body>
</div>
