<!doctype html>
<title>New York City</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
    <body>
	<h1>New York City - Blocked Driveways</h1>
	<h2>
	<p> Here is a plot of one of the biggest bugbears of mine - blocked driveways.  This happens to me on a regular occurrence.  As expected, the majority of the complaints occur in the most densely populated areas.  Whereas in the relatively less populated Staten Island, there are fewer calls.</p>
	</h2>
	<img src="{{url_for('static', filename='NYC_BlockedAccess.png')}}" ALT="Ooops!" WIDTH="960" HEIGHT="640">
	</body>
</div>
